/*(1) 
h1 {
    color:blue;
    font-size: 50px;
}
li{
    color: black;
    font: 20px;
} */

/* sử dụng id là dấu # */

#first-heading{
    color:blue;

}

/* sử dụng claas là dấu . */
.secound-two{
    color: chartreuse;
    font-size: 20px;
}